<% include partials/header %>
    <div class="jumbotron jumbotron-fluid text-center jb-title"><h2><strong>Perguntas e Respostas</strong></h2></div>
    <div class="container">   
        <% const categories = ['Transferencia de Dinheiro', 'Chegando na Nova Zelandia', 'Custo de Vida', 'Moradia', 'Carro / Moto / CNH', 'Banco', 'Vistos', 'Trabalho', 'Estudo', 'Transporte Publico', 'Saude / Seguro Viagem / Seguro Saude', 'Planejamento Financeiro', 'Links e Indicacoes', 'Outros']; %>
        <% categories.forEach(function(ctg){ %>
            <% var category = ctg %>
            <% var found = false; %>
            <% questions.forEach(function(question){ %>
                <% if(question.category === category){ %>
                    <% found = true %>
                <% } %>
            <% }) %>
            <% if(found){ %>
                <div class="container mt-2">
                    <div class="jumbotron jb-category">
                        <div class="mb-4 mt-2 text-center" id="<%= category %>"><h3><%= category %></h3></div>
                        <% questions.forEach(function(question){ %>
                            <% if(question.category === category){ %>
                                <div class="card mb-3">
                                    <div class="card-header" id="<%= question._id %>">
                                        <h5 class="mb-0">
                                            <button class="btn-link collapsed text-left" data-toggle="collapse" data-target="#id<%= question._id %>" aria-expanded="false" title="ID: #<%= question._id %>"><%= question.title %></button>
                                            <div class="buttons">
                                                <a href="/questions/<%= question._id %>/comment" title="Exibir Comentarios">
                                                    <div class="comment-btn">
                                                        <span class="badge badge-notify">
                                                            <% var qtd = 0 %>
                                                            <% comments.forEach(function(comment){ %>
                                                                <% if(comment.questionId == question._id){ %>
                                                                    <% qtd++ %>
                                                                <% } %>
                                                            <% }) %>
                                                            <%= qtd %> comentarios
                                                        </span>
                                                    </div>
                                                </a>
                                                <% if(isLogged) { %>
                                                    <% if(currentUser.role === 'editor' || currentUser.role === 'admin'){ %>
                                                        <form action="/questions/<%= question._id %>/disapprove?_method=PUT" method="POST">
                                                            <button type="submit" title="Desaprovar pergunta" class="oi oi-circle-x btn btn-info btn-md"></button>
                                                        </form>                                                
                                                        <a href="/questions/<%= question._id %>/edit" title="Editar pergunta"><span class="oi oi-pencil btn btn-primary btn-md"></span></a>
                                                    <% } %>
                                                <% } %>
                                            </div>
                                        </h5>
                                    </div>
                                    <div id="id<%= question._id %>" class="collapse" data-parent="#accordion">
                                        <div class="card-body"><%- question.answer %></div>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
            <% } %>
        <% }) %>
    </div>
<% include partials/footer %>