<% include partials/header %>
    <div class="jumbotron jumbotron-fluid text-center jb-title"><h2><strong>Perguntas Pendentes</strong></h2></div>
    <div class="container">   
        <% const categories = ['Transferencia de Dinheiro', 'Chegando na Nova Zelandia', 'Custo de Vida', 'Moradia', 'Carro / Moto / CNH', 'Banco', 'Vistos', 'Trabalho', 'Estudo', 'Transporte Publico', 'Saude / Seguro Viagem / Seguro Saude', 'Planejamento Financeiro', 'Links e Indicacoes', 'Outros']; %>
        <% categories.forEach(function(ctg){ %>
            <% var category = ctg %>
            <% var found = false; %>
            <% questions.forEach(function(question){ %>
                <% if(question.category === category){ %>
                    <% found = true %>
                <% } %>
            <% }) %>
            <% if(found){ %>
                <div class="jumbotron">
                <div class="mb-4 text-center"><h3><%= category %></h3></div>
                <% questions.forEach(function(question){ %>
                    <% if(question.category === category){ %>
                        <div class="card mb-3">
                            <div class="card-header" id="<%= question._id %>">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed text-left" data-toggle="collapse" data-target="#id<%= question._id %>" aria-expanded="false" title="ID: #<%= question._id %>"><%= question.title %></button> 
                                    <% if(logged) { %>
                                        <% if(user.role === 'editor'){ %>
                                            <a href="/questions/<%= question._id %>/approve" title="Aprovar pergunta"><span class="oi oi-check btn btn-success btn-md"></span></a>
                                            <a href="/questions/<%= question._id %>/edit" title="Editar pergunta"><span class="oi oi-pencil btn btn-primary btn-md"></span></a>
                                        <% } else if (user.role === 'admin') { %>
                                            <div>
                                                <a href="/questions/<%= question._id %>/approve" title="Aprovar pergunta"><span class="oi oi-check btn btn-success btn-md"></span></a>
                                                <a href="/questions/<%= question._id %>/edit" title="Editar pergunta"><span class="oi oi-pencil btn btn-primary btn-md"></span></a>
                                                <form action="/questions/<%= question._id %>?_method=DELETE" method="POST">
                                                    <button type="submit" title="Excluir Pergunta" class="oi oi-trash btn btn-danger btn-md"></button>
                                                </form>
                                            </div>
                                        <% } %>
                                    <% } %> 
                                </h5>
                            </div>
                            <div id="id<%= question._id %>" class="collapse" data-parent="#accordion">
                                <div class="card-body"><%- question.answer %></div>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
                </div>
            <% } %>
        <% }) %>
    </div>
<% include partials/footer %>