<% include partials/header %>
    <div class="jumbotron text-center jb-title"><h2 class="page-title"><strong>Perguntas Pendentes</strong></h2></div>
    <div class="container">   
        
        <% const categories = ['Transferencia de Dinheiro', 'Chegando na Nova Zelandia', 'Custo de Vida', 'Moradia', 'Carro / Moto / CNH', 'Banco', 'Vistos', 'Trabalho', 'Estudo', 'Transporte Publico', 'Saude / Seguro Viagem / Seguro Saude', 'Planejamento Financeiro', 'Links e Indicacoes', 'Outros']; %>
        <% categories.forEach(function(ctg){ %>
            <% var category = ctg %>
            <% var found = false; %>
            <% questions.forEach(function(question){ %>
                <% if(question.category === category){ %>
                    <% found = true %>
                <% } %>
            <% }) %>
            <% if(found){ %>
                <div class="jumbotron">
                <div class="mb-4 text-center"><h3><%= category %></h3></div>
                <% questions.forEach(function(question){ %>
                    <% if(question.category === category){ %>
                        <div class="mb-2 card">
                            <div class="card-header" id="<%= question._id %>">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed text-left" data-toggle="collapse" data-target="#id<%= question._id %>" aria-expanded="false" title="ID: #<%= question._id %>"><%= question.title %></button> 
                                    <% if(logged) { %>
                                        <% if(user.role === 'editor' || user.role === 'admin'){ %>
                                            <a href="/questions/<%= question._id %>/edit" id="editBtn"><span class="oi oi-pencil"></span></a>
                                        <% } %>
                                    <% } %> 
                                </h5>
                            </div>
                            <div id="id<%= question._id %>" class="collapse" data-parent="#accordion">
                                <div class="card-body"><%- question.answer %></div>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
                </div>
            <% } %>
        <% }) %>
    </div>
<% include partials/footer %>